.row
  .col-md-7

  .col-md-5
    =link_to "Agregar nuevo archivo excel", new_ruta_path, remote: true, class: "btn btn-primary btn-lg pull-right"

%h3 RUTAS GENERADAS

%table.table
  %thead#rutas_generadas
    %tr
      %th Fecha
      %th Nombre
      %th
  

=render 'layouts/modal'

=javascript_tag do 
  App.initialize();