.page-header
  .row
    .col-md-7
      %h1 Generación de rutas
      %h4=@carga.name
    .col-md-5

.jumbotron
  %h2.centrar TIENES QUE CREAR LA RUTA
  %br
  %p.centrar
    =link_to "INICIAR CREACION DE RUTA", "#", class: 'btn btn-lg btn-warning'

