@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body{
  font-family: 'Open Sans', sans-serif;
  

  .mensaje{
    margin-top: 6em;
  }

  .readExcel{
    font-size: 1.5em;
  }

  .alert{
    padding: 10px;
    margin-top: 45px;
  }
  
  form#new_user{
    margin-top: 40px;
  }
  
  padding-top: 70px;
  background-color: whitegrey;

  .estatico{
    height: 100px;
    background-color: white;
  }

  .subnavbar{
    margin-top: 30px;
  }

  .navbar{
    margin-bottom: 0px;
  }

  .navbar-brand{
    padding: 0px;
  }

  .centrar{
    text-align: center;
  }

  .navbar-inverse{
    background-color: #e7e7e7;
    border-color: #e7e7e7;
  }

  .row{
    margin-right: 0px;

    .col-md-2{
      padding-right: 0px;

      .nav-stacked > li{
        margin-top: 0px;
      }

      .nav-pills{
        li{
          &:active{
            color: #ffffff;
          }
          a{
            &:hover{
              background-color: #7DB0E4;
              color: white;
            }
            border-radius: 0px;
            font-size: 1.5em;
          }
        }

        li.active{
          a{
            background-color: #76a6d7;
          }
        }
      }
    }

    .col-md-10{
      padding-right: 0px;
      padding-left: 0px;
      
      .contenedor{
        padding: 1em 3em;
        background-color: #ffffff;
        min-height: 560px;   
      }
    }

    .dashboard-title{
      background-color: #6090c0;
      color: #ffffff;
      padding: 0em 2em;
    }
  }

  .subnavbar{
    background-color: #76a6d7;
    min-height: 50px;
  }

  @media print {
    #map-canvas {
      height: 500px;
      margin: 0;
    }

    #directions-panel {
      float: none;
      width: auto;
    }
  }

}

.sign_in{
  background-color: #e7e7e7 !important;
}