.navbar.navbar-fixed-top.navbar-inverse{role: "navigation"}
	.row.estatico
		-if user_signed_in?
			.col-md-3
				.navbar-header
					=link_to root_path, class: 'navbar-brand' do
						=image_tag("arrivegis.png", :size => "249x100")
			.col-md-9
				%ul.nav.navbar-nav.pull-right
					%li=link_to "Cerrar sesion", logout_path
		-else
			.col-md-12
				.navbar-header
					=link_to root_path, class: 'navbar-brand' do
						=image_tag("arrivegis.png", :size => "249x100")
				.collapse.navbar-collapse
					-if user_signed_in?
						%ul.nav.navbar-nav
							%li=link_to "Inicio", root_path
							%li=link_to "Acerca de", "#"

					%ul.nav.navbar-nav.pull-right
						%li=link_to "Servicios","#"
						%li=link_to "Formas de pago", "#"
						%li=link_to "Atencion al cliente", "#"

						-if user_signed_in?
							%li=link_to "Cerrar sesion", logout_path
						-else
							%li=link_to "Registrate", registrar_path
							%li=link_to "Identificate", login_path
