%ul.nav.nav-pills.nav-stacked
  %li{class: is_active?(dashboard_path)}
    =link_to dashboard_path do
      %span.glyphicon.glyphicon-dashboard
      Dashboard

  
  %li{class: is_active?(rutas_path)}
    =link_to rutas_path do
      %span.glyphicon.glyphicon-road
      Rutas